*{
    padding: unset;
    margin: unset;
    border: unset;
    text-decoration: none;
    font-size: 1rem;
    font-family:roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    box-sizing: border-box;
    outline: unset;

}
@font-face {
    font-family: roboto;
    src: url(/tipografia/Montserrat-UltraLight.otf);
}



a{
    color: black;
}
.barracolor{
    background-color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
     
}
.barra{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-start: 0%;
    margin: 0;   
}
    

.barra2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F4C80F;
    justify-content: center;
}
.jumbotron{
    padding-bottom: 450px;
    min-width: 100%;
    background: url(img/book-1802861_1280\ 1.svg);
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    align-items:flex-end;
    justify-content: center;
}
.barra2p{
    display: flex;
    align-items: center;
}
button{
    padding: 0.5rem;
    background-color: #f1ecec00;
    border-radius: 10px;
    cursor: pointer;
}

.tarjeta{
    padding: 1rem;
    background-color: #d9d9d956;
    margin: 3%;
    width: 27rem;
    display: inline-block;
    border-radius: 10px;
    transition: all 300ms ease;
}
.tarjeta:hover{
    background-color: #5c5c5cc2;
    cursor: pointer;
}
.tarj{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-start: 0%;
    margin: 0 5rem 0 5rem;
    
}
.mov{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
body{
 background-color: #F1ECEC;
}

.tran{
    max-width: 402px;
    max-height: 320px;
    margin: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(177, 177, 177);
}
.t{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 15rem
}
.t-b{
    background-color: #F4C80F;
    border-radius: 0;
}
.buscador{
    padding: 10px 29px;
    border-radius: 10px;
    background-color: #93929A;

}
.buscadorb{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nosotros{
display: flex;
justify-content: center;
align-items: center;
margin: 0 10rem 0 10rem;

}
.img-n{
    margin-right: 3rem;
}
.th{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.img-2{
   width: 5rem;
}
.img-3{
    width: 10rem;
    height: 17rem;
}
.parrafo{
    min-width: 15rem;
    width: auto;
    max-height: 30rem;
}
.img-4{
    max-width: 7rem;
}
.img-4b{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}
.contactos-sect{
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 30rem;
        width: 25rem;
        margin: 1rem;
}
.tarjeta-cont{
    width: 20rem;
    height: 13rem;
    margin: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #dbdbdb
}
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-b{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contact-a{
    height: 30rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #dbdbdb
}
.esc{
    margin: 1rem 0;
}
.text-p{
    text-align: center;
}
@media (min-width:950px) {
    .barra-2{
        display: none;
    }
    
}
@media (max-width:950px){
    .barra{
        display: none;
     }
     .tarj{
        margin: 0 1rem 0 1rem;
     }
     .tarjeta{
        margin: 1%;
        padding: 0.5rem;
     }
     .tran{
        margin: 1rem;
     }
    .nosotros{
        margin: 0 1rem 0 1rem;
        
    }
    
    .hamburger{ 
        background-color:transparent;
          left:0;
          top:0;
          padding:20px 20px;
          -webkit-transform:translate3d(0, 0, 0);
          transform:translate3d(0, 0, 0);
          -webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
          transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
          z-index:1002;
          cursor:pointer;
          -webkit-user-select:none;
          -moz-user-select:none;
          -ms-user-select:none;
          user-select:none
      }
      .hamburger.is-active{
        background-color:none;
      }
      ._layer{
          background:#333333;
          margin-bottom:4px;
          border-radius:2px;
          width:28px;
          height:4px;
          opacity:1;
          -webkit-transform:translate3d(0, 0, 0);
          transform:translate3d(0, 0, 0);
          -webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
          transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
      }
      .hamburger:hover .-top{
          -webkit-transform:translateY(-100%);
          -ms-transform:translateY(-100%);
          transform:translateY(-100%);
      }
      .hamburger:hover .-bottom{
          -webkit-transform:translateY(50%);
          -ms-transform:translateY(100%);
          transform:translateY(100%);
          }
      .hamburger.is-active .-top{
          -webkit-transform:translateY(200%) rotate(45deg) !important;
          -ms-transform:translateY(200%) rotate(45deg) !important;
          transform:translateY(200%) rotate(45deg) !important;
      }
      .hamburger.is-active .-mid{
          opacity:0;
      }
      .hamburger.is-active .-bottom{
          -webkit-transform:translateY(-200%) rotate(135deg) !important;
          -ms-transform:translateY(-200%) rotate(135deg) !important;
          transform:translateY(-200%) rotate(135deg) !important;
      }
      
      .menuppal.is_active{
        transform: translate3d(0px, 0px, 0px);
      }
      .menuppal{
         background-color: rgba(255, 255, 255, 0.95);
          bottom: 0;
          height: 100%;
          left: 0;
          overflow-y: scroll;
          position: fixed;
          top: 0;
          transform: translate3d(0px, -100%, 0px);
          transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
          width: 100%;
          z-index: 1001;
      }
      .menuppal ul{
          margin: 0;
          padding: 0;
          height: 50rem;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
      }
      .menuppal ul li { 
        list-style: none;
          text-align:center;
          font-family: Verdadna, Arial, Helvetica;
          color:nav-color-text;
          font-size: 1.5rem;
          line-height: 3em;
         height: 3em;
        color:  rgb(255, 251, 8);
          text-transform:none;
          font-weight:bold;
      }
      .menuppal ul li a{
        text-decoration:none;
        color:rgb(0, 0, 0);
      }
      .menuppal ul li a:hover{
        text-decoration:none;
        color:#333;
      }
  
}
@media (max-width: 550px){
    .barra{
       display: none;
    }
    .tarjeta{
       padding: 1rem;
       background-color: #d9d9d956;
       margin: 1%;
       width: 21rem;
       height: 15rem;
       display: inline-block;
       border-radius: 10px;
       margin: 1rem;
       
    }
    .img-2{
       width: 13rem;
    }

    *{
       font-size: 16px;
    }

    .tarj{
       margin: 0;
       flex-direction: column;

    }

    .tran{
       margin: 0.5rem;
       width: 22rem;
       height: 17rem;
       justify-content: center;
    }

    .jumbotron{
     padding-bottom: 250px;
    }

    .img-n{
        min-width: 10rem;
        max-height: 15rem;
        width: 100%;
        height: 100%;
        margin-right: 0;
   }
    .mov{
        min-height: 7rem;
        height: 100%;
        justify-content: space-evenly;
    }
    .img-3{
        width: 10rem;
        height: 10rem;
    }
    .t{
        margin: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 15rem
    }
    .t-b{
        background-color: #F4C80F;
        border-radius: 0;
    }
    .nosotros{
        margin: 0 1rem 0 1rem;
        display: flex;
        flex-direction: column;
        height: 30rem;
    }
    .parrafo{
        min-width: 9rem;
        max-height: 25rem;
    }
    
    .img-b{
        width: 6rem;
    }
    
    .bot-1{
        display: none;
    }
    

    a{
        color: black;
    }
    .hamburger{ 
      background-color:transparent;
        left:0;
        top:0;
        padding:20px 20px;
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0);
        -webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        z-index:1002;
        cursor:pointer;
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none
    }
    .hamburger.is-active{
      background-color:none;
    }
    ._layer{
        background:#333333;
        margin-bottom:4px;
        border-radius:2px;
        width:28px;
        height:4px;
        opacity:1;
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0);
        -webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    }
    .hamburger:hover .-top{
        -webkit-transform:translateY(-100%);
        -ms-transform:translateY(-100%);
        transform:translateY(-100%);
    }
    .hamburger:hover .-bottom{
        -webkit-transform:translateY(50%);
        -ms-transform:translateY(100%);
        transform:translateY(100%);
        }
    .hamburger.is-active .-top{
        -webkit-transform:translateY(200%) rotate(45deg) !important;
        -ms-transform:translateY(200%) rotate(45deg) !important;
        transform:translateY(200%) rotate(45deg) !important;
    }
    .hamburger.is-active .-mid{
        opacity:0;
    }
    .hamburger.is-active .-bottom{
        -webkit-transform:translateY(-200%) rotate(135deg) !important;
        -ms-transform:translateY(-200%) rotate(135deg) !important;
        transform:translateY(-200%) rotate(135deg) !important;
    }
    
    .menuppal.is_active{
      transform: translate3d(0px, 0px, 0px);
    }
    .menuppal{
       background-color: rgba(255, 255, 255, 0.95);
        bottom: 0;
        height: 100%;
        left: 0;
        overflow-y: scroll;
        position: fixed;
        top: 0;
        transform: translate3d(0px, -100%, 0px);
        transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
        width: 100%;
        z-index: 1001;
    }
    .menuppal ul{
        margin: 0;
        padding: 0;
        height: 50rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .menuppal ul li { 
      list-style: none;
        text-align:center;
        font-family: Verdadna, Arial, Helvetica;
        color:nav-color-text;
        font-size: 1.5rem;
        line-height: 3em;
       height: 3em;
      color:  rgb(255, 251, 8);
        text-transform:none;
        font-weight:bold;
    }
    .menuppal ul li a{
      text-decoration:none;
      color:rgb(0, 0, 0);
    }
    .menuppal ul li a:hover{
      text-decoration:none;
      color:#333;
    }
    .img-4{
        max-width: 4rem;
    }
    .contactos-sect{
        display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            height: 30rem;
            width: 20rem;
    }
    .tarjeta-cont{
        width: 20rem;
        height: 13rem;
        margin: 1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background-color: #dbdbdb
    }
    .contact{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .contact-a{
        width: 20rem;
    }
}