*{
    padding: unset;
    margin: unset;
    border: unset;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    font-family:roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    box-sizing: border-box;
    outline: unset;

}




.barracolor{
    background-color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
     
}
.barra{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-start: 0%;
    margin: 0;   
}
    

.barra2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F4C80F;
    justify-content: center;
}
.jumbotron{
    padding-bottom: 450px;
    min-width: 100%;
    background: url(img/book-1802861_1280\ 1.svg);
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    align-items:flex-end;
    justify-content: center;
}
.barra2p{
    display: flex;
    align-items: center;
}
button{
    padding: 0.5rem;
    background-color: #f1ecec00;
    border-radius: 10px;
    cursor: pointer;
}

.tarjeta{
    padding: 1rem;
    background-color: #d9d9d956;
    margin: 3%;
    width: 27rem;
    display: inline-block;
    border-radius: 10px;
    
}
.tarj{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-start: 0%;
    margin: 0 5rem 0 5rem;
    
}
.mov{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
body{
 background-color: #F1ECEC;
}
.slach{
    
}
.tran{
    max-width: 402px;
    max-height: 320px;
    margin: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(129, 129, 129);
}
.t{
    width:auto;
    height: fit-content;
    margin: 1rem;

    
}
.buscador{
    padding: 10px 29px;
    border-radius: 10px;
    background-color: #93929A;

}
.buscadorb{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nosotros{
display: flex;
justify-content: center;
align-items: center;
margin: 0 10rem 0 10rem;

}
.img-n{
    margin-right: 3rem;
}
.th{
    margin-left: 5rem;
}
img{
    
}
.img-2{
   width: 5rem;
}
.img-3{
    width: 10rem;
    height: 17rem;
}
.parrafo{
    min-width: 15rem;
    width: auto;
    max-height: 30rem;
}
@media (max-width: 950px){
    .barra{
        display: none;
     }

}
@media (max-width: 550px){
    .barra{
       display: none;
    }
    .tarjeta{
       padding: 1rem;
       background-color: #d9d9d956;
       margin: 1%;
       width: 24rem;
       display: inline-block;
       border-radius: 10px;
       margin: 1rem;
       
    }
    .img-2{
       width: 5rem;
    }

    *{
       font-size: 10px;
    }

    .tarj{
       margin: 0;
       flex-direction: column;

    }

    .tran{
       margin: 1rem;
    }

    .jumbotron{
     padding-bottom: 250px;
    }

    .img-n{
        min-width: 17rem;
        max-height: 17rem;
    }
    .mov{
        min-height: 7rem;
        height: 100%;
        justify-content: space-evenly;
    }
}